{% extends "../../layout.njk" %} 

{% block header%}
        <a href="/admin/recipes">RECEITAS</a>
        <a href="/admin/chefs">CHEFS</a>
        <a href="/admin/users">USUÁRIOS</a>
{% endblock %}
{% block content %}
    <div class="detail-admin"> 
        <div id="title-acessed">
            <h1>Editando receita</h1>
        </div>
        <div>
            <button form="form-delete" type="submit">Deletar</button>
            <button form="form-put" type="submit" >Salvar receita</button>
        </div>
    </div>
    <form id="form-put" action="/admin/recipes?_method=PUT" method="POST" enctype="multipart/form-data">
        <input 
            type="hidden"
            name="id"
            value = "{{id}}">
        {%include 'area-adm/recipes/fields.njk'%}
    </form>
    <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
        <input 
            type="hidden"
            name="id"
            value = "{{id}}">
    </form>
{% endblock %}