<div  class="item">
    <div>
        <h3>Imagem da receita</h3>
    </div>
    <div class="input-layout">
        <input 
            required 
            type="url" 
            name="image" 
            placeholder="http://" 
            value="{{recipe.image}}">
    </div>
</div>
<div  class="item">
    <div>
        <h3>Nome da receita</h3>
    </div>
    <div class="input-layout">
        <input 
            required 
            type="text" 
            name="title" 
            value="{{recipe.title}}">
    </div>
</div>
<div  class="item">
    <div>
        <h3>Chef</h3>
    </div>
    <div class="input-layout">
        <select name="chef">
             <option value="" disabled selected>Selecione um chef</option>
            {% for chef in chefOptions %}
                <option 
                value="{{chef.id}}"
                {% if recipe.chef_id == chef.id %}
                    selected
                {% endif %}>
                {{chef.name}}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
<div  class="item">
    <div>
        <h3>Ingredientes</h3>
    </div>
    <div class="ingredient">
        {%if recipe.ingredients%}
            {% for ingredient in recipe.ingredients %}
                <div class="input-layout item-grid"  id="ingredient">
                    <input 
                        required 
                        type="text" 
                        name="ingredients[]"
                        value="{{ingredient}}">
                    <!--<i  type="hidden" id="delete-item" class="material-icons">close</i>-->
                </div>
            {% endfor %}
        {% else %}
            <div class="input-layout item-grid" id="ingredient">
                <input 
                    required 
                    type="text" 
                    name="ingredients[]">
                <!--<i  type="hidden" id="delete-item" class="material-icons">close</i>-->
            </div>
        {% endif %}
    </div>    
    <a class="add-ingredient">Adicionar novo ingrediente</a>
</div>
<div  class="item">
    <div>
        <h3>Modo de preparo</h3>
    </div>
    <div class="preparation">
        {% if recipe.preparation%}
            {% for preparation in recipe.preparation %}
                 <div class="input-layout item-grid"  id="preparation">
                    <input 
                        required 
                        type="text" 
                        name="preparation[]"
                        value="{{preparation}}">
                    <!--<i  type="hidden" id="delete-item" class="material-icons">close</i>-->
                </div>
            {% endfor %}
        {% else %}
            <div class="input-layout item-grid"  id="preparation">
                <input 
                    required 
                    type="text" 
                    name="preparation[]">
                <!--<i  type="hidden" id="delete-item" class="material-icons">close</i>-->
            </div>
        {% endif %}
    </div>     
    <a class="add-preparation" >Adicionar passo</a>
</div>
<div  class="item">
    <div>
        <h3>Informações adicionais</h3>
    </div>
    <div>
        <textarea 
            required 
            type="text" 
            name="information">
            {{recipe.information}}
            </textarea>
    </div>     
</div>