{% extends "../../layout.njk" %} 
{% block head %}
    <link rel="stylesheet" href="/section.css">
{% endblock%}
{% block header%}
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
{% endblock %}
{% block content %}
        <div id="title-acessed" class="title-admin">
            <h1>Gerenciar receitas</h1>
        </div>
         {%include 'area-adm/recipe-cards.njk'%}
{% endblock %}