{% extends "../../layout.njk" %} 
{% block head %}
<link rel="stylesheet" href="/recipe.css">
{% endblock %}
{% block header%}
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
{% endblock %}
{% block content %}
    <div class="detail-admin"> 
        <div id="title-acessed">
            <h1>Receita: {{recipe[0].title}}</h1>
        </div>
        <button  onclick="window.location.href='/admin/recipes/{{recipe[0].id}}/edit'" >Editar receita</button>
    </div>
    <div class="recipe-banner">
        <img src="{{recipe[0].image}}" alt="imagem de {{recipe[0].image}}">
        <div class="title-info">
            <h1>{{recipe[0].title}}</h1>
            <p>por {{recipe[0].chef_name}}</p>
        </div>
    </div>
    <div  class="ingredientes">
        <div class="title">
            <h3>Ingredientes</h3>
        </div>
         <ul id="tohide_1">
            {% for ingredient in recipe[0].ingredients %}
            <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
    </div>
    <div  class="modo-de-preparo">
        <div class="title">
            <h3>Modo de preparo</h3>
        </div>
        <ul id="tohide_2">
            {% for preparation in recipe[0].preparation %}
            <li>{{preparation}}</li>
            {% endfor %}
        </ul>

    </div>
    <div  class="informacoes">
         <div class="title">
            <h3>Informações adicionais</h3>
        </div>
        <p id="tohide_3">{{recipe[0].information}}</p>
    </div>
{% endblock %}