{% extends "../../layout.njk" %} 

{% block header%}
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
{% endblock %}
{% block content %}
    <div class="detail-admin"> 
        <div id="title-acessed">
            <h1>Chef: {{chef.name}}</h1>
        </div>
        <button  onclick="window.location.href='/admin/chefs/{{chef.id}}/edit'" >Editar chef</button>
    </div>
    <div class="chef-avatar">
        <img src="{{file.path}}" alt="imagem de {{file.path}}">
        <div class="title-info">
            <h1>{{chef.name}}</h1>
            <p>{{chef.total_recipes}} receitas</p>
        </div>
    </div>
    <h3 id="chef-recipe" >Receitas</h3>
    {%include 'area-adm/recipe-cards.njk'%}
{% endblock %}