{% extends "../../layout.njk" %} 
{% import "../../parts/chef-part.njk" as chefs %}
{% block header%}
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
{% endblock %}
{% block content %}
    {{chefs.chef_part('/admin', recipes, chef,file)}}
    
{% endblock %}