{% extends "../../layout.njk" %} 

{% block header%}
        <a href="/admin/recipes">RECEITAS</a>
        <a href="/admin/chefs">CHEFS</a>
        <a href="/admin/users">USUÁRIOS</a>
{% endblock %}
{% block content %}
    <div class="detail-admin"> 
        <div id="title-acessed">
            <h1>Criando chef </h1>
        </div>
        <div class="create">
            <button type="submit" form="create-recipe">Salvar</button>
        </div>
    </div>
    <form id="create-recipe" method="POST" action="/admin/chefs" enctype="multipart/form-data">
        {%include 'area-adm/chefs/fields.njk'%}
    </form>
    <script>
        
    </script>
{% endblock %}