{% extends "../../layout.njk" %} 

{% block header%}
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
{% endblock %}
{% block content %}
    <div class="detail-admin"> 
        <div id="title-acessed">
            <h1>Editando chef</h1>
        </div>
        <div>
            <button form="form-delete-chef" type="submit">Deletar</button>
            <button form="form-put" type="submit">Salvar chef</button>
        </div>
    </div>
    <form id="form-put" action="/admin/chefs?_method=PUT" method="POST" enctype="multipart/form-data">
        <input 
            type="hidden"
            name="id"
            value = "{{chef.id}}">
            <input 
            type="hidden"
            name="file_id"
            value = "{{chef.file_id}}">
        {%include 'area-adm/chefs/fields.njk'%}
    </form>
    <form id="form-delete-chef" action="/admin/chefs?_method=DELETE" method="POST" data-total_recipes = {{chef.total_recipes}}>
        <input 
            type="hidden"
            name="id"
            value = "{{chef.id}}">
            <input 
            type="hidden"
            name="file_id"
            value = "{{chef.file_id}}">
    </form>
{% endblock %}