
<div  class="item">
    <div>
        <h3>Nome</h3>
    </div>
    <div class="input-layout">
        <input 
            required 
            type="text" 
            name="name" 
            value="{{chef.name}}">
    </div>
</div>

<div  class="item">
    <div>
        <h3>Avatar</h3>
    </div>
    <div class="input-layout avatar">
      <p>
           {{chef.avatar_url}}
      </p> 
    </div>
    <div id="avatar-chef">
        <input 
            id="avatar-input"
            type="file" 
            name="avatar" 
            accept="image/*"
            onchange="UploadPhoto.AvatarChef(event)"
            >
            <p>Enviar Avatar</p>
    </div>
</div>