{% extends "../../layout.njk" %} 

{% import "../../parts/header.njk" as header %}

{% block header%}
{{ header.header( "white-logo.png", {  
 'items': [
  {
     'name': 'RECEITAS',
     'path': '/admin/recipes'
  },
  {
     'name': 'CHEFS',
     'path': '/admin/chefs'
  },
  {
     'name': 'USUÁRIOS',
     'path': '/admin/users'
  }
]
} , false) }}

{% endblock %}
{% block content %}
<div class="detail-admin">
        <div id="title-acessed" class="title-admin">
            <h1>Gerenciar Chefs</h1>
        </div>
        {% if user.is_admin == '1' %}
            <div class="create">
                <a class="button" href="/admin/chefs/create">Novo</a>
            </div>
        {% endif %}
</div>
        <section class="more-acessed-cards admin-chef">
            {% for chef in chefs %}
                <div class="revenue-card">
                    <div class="img-card">
                        <img src="{{chef.avatar_url}}" alt="imagem de {{chef.avatar_url}}">
                    </div>
                    <div class="info-card">
                        <h1>{{chef.name}}</h1>
                        <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                    </div>

                </div>
            {% endfor %}
        </section>
{% endblock %}