{% extends "../../layout.njk" %} 
{% import "../../parts/header.njk" as header %}
{% block header %}
{{ header.header( "logo.png", {  
 'items': [
  {
     'name': 'SOBRE',
     'path': '/about'
  },
  {
     'name': 'RECEITAS',
     'path': '/recipes'
  },
  {
     'name': 'CHEFS',
     'path': '/chefs'
  }
]
} , false, filter) }}

{% endblock %}
{% block content %}
    <div class="recipe-banner">
        <img src="{{files[0].src}}" alt="imagem de {{files[0].name}}">
        <div class="gallery-preview">
            {% for image in files %}
                <img 
                    src="{{image.src}}" 
                    alt="{{image.name}}"
                    {% if loop.index0 == 0%}
                        class="active"
                    {% endif %}
                    onclick="ImageGallery.setImage(event)"
                    >
            {% endfor %}
        </div>
    <div class="title-info">
        <h1>{{recipe.title}}</h1>
        <p>por {{recipe.chef_name}}</p>
    </div>
    </div>
    <div  class="ingredientes">
        <div class="title">
            <h3>Ingredientes</h3>
            <p class="hide_1">Esconder</p>
        </div>
         <ul id="tohide_1">
            {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
    </div>
    <div  class="modo-de-preparo">
        <div class="title">
            <h3>Modo de preparo</h3>
            <p class="hide_2">Esconder</p>
        </div>
        <ul id="tohide_2">
            {% for preparation in recipe.preparation %}
            <li>{{preparation}}</li>
            {% endfor %}
        </ul>

    </div>
    <div  class="informacoes">
         <div class="title">
            <h3>Informações adicionais</h3>
            <p class="hide_3">Esconder</p>
        </div>
        <p id="tohide_3">{{recipe.information}}</p>
    </div>
{% endblock %}