{% extends "../../layout.njk" %} 

{% block head %}
    <title>Receitas</title>
{% endblock%}
{% block filter %}
    <form action="/recipes" method="GET">
        <input 
            type="text"
            name="filter"
            placeholder="Buscar uma receita"
            value="{{filter}}"
            >
        <button type="submit"> Buscar </button>
    </form>
{% endblock%}
{% block content %}
<div class="container-pagination">
        <section id="revenue" class="more-acessed-cards">
                {% for recipe in recipes %}
                    <div class="revenue-card grid" id="{{recipe.id}}">
                        <div class="img-card">
                            <img src="{{recipe.image}}" alt="imagem de {{recipe.image}}">
                        </div>
                        <div class="info-card">
                            <h1>{{recipe.title}}</h1>
                            <p>por {{recipe.chef_name}}</p>
                        </div>
                    </div>
                {% endfor %}
        </section>
    
     <div class="pagination"
        data-page= {{pagination.page}}
        data-total = {{pagination.total}}
        data-filter = {{filter}}
        >
   </div>
   </div>
    {% endblock%}