.detail-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-admin button {
    background: #6558C3 100%;
    padding: 6px 15px;
    border-color: transparent;
    border-radius: 4px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.item div:first-child {
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #111111;
    margin-top: 30px;
}

.item div:first-child h3 {
    margin: 0px;
}

.item div:nth-child(2) textarea,
.item div:nth-child(2) input {
    width: 100%;
    height: 50px;
    margin: 10px 0px 15px 0px;
    padding: 0px 20px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-radius: 4px;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #111111;
}

.item a {
    margin-top: 15px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #6558C3;
    text-align: right;
    cursor: pointer;
}

.item div:nth-child(2) textarea {
    height: 260px;
    padding-top: 10px;
}