<div class="field-container">
        <div  class="item">
            <div>
                <h3>Nome</h3>
            </div>
            <div class="input-layout">
                <input 
                    required 
                    type="text" 
                    name="name" 
                    placeholder="Digite o nome completo"
                    value="{{user.name}}">
            </div>
        </div>

        <div  class="item">
            <div>
                <h3>Email</h3>
            </div>
            <div class="input-layout">
                <input 
                    required 
                    type="text" 
                    name="email" 
                    placeholder="Digite o email"
                    value="{{user.email}}">
            </div>
        </div>
        <div  class="item">
            <div>
                <h3>Senha</h3>
            </div>
            <div class="input-layout">
                <input 
                    required 
                    type="password" 
                    name="password" 
                    placeholder="Digite a senha"
                 >
            </div>
        </div>
</div>
    
   

