{% extends "../layout.njk" %} 
{% block head %}
    
    <link rel="stylesheet" href="/section.css">
{% endblock%}
{% block filter %}
    <form action="/recipes" method="GET">
        <input 
            type="text"
            name="filter"
            placeholder="Buscar uma receita"
            value="{{filter}}"
            >
        <button type="submit"> Buscar </button>
    </form>
{% endblock%}
{% block content %}
        <div class="banner">
            <div class="title-banner">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <img src="../assets/chef.png" alt="Chef">
        </div>
        <div id="title-acessed">
            <h1>Mais acessadas</h1>
        </div>
        <section  class="more-acessed-cards">
            {% for recipe in recipes %}
                <div class="revenue-card grid" id="{{recipe.id}}">
                    <div class="img-card">
                        <img src="{{recipe.image}}" alt="imagem de {{recipe.image}}">
                    </div>
                    <div class="info-card">
                        <h1>{{recipe.title}}</h1>
                        <p>por {{recipe.chef_name}}</p>
                    </div>

                </div>
            {% endfor %}
        </section>
{% endblock %}