<div class="user-field-container">
    <div class="user">
        <div  class="item">
            <div>
                <h3>Nome</h3>
            </div>
            <div class="input-layout">
                <input 
                    required 
                    type="text" 
                    name="name" 
                    placeholder="Digite o nome completo"
                    value="{{user.name}}">
            </div>
        </div>

        <div  class="item">
            <div>
                <h3>Email</h3>
            </div>
            <div class="input-layout">
                <input 
                    required 
                    type="text" 
                    name="email" 
                    placeholder="Digite o email"
                    value="{{user.name}}">
            </div>
        </div>
    </div>
    
    <div  class="item-admin">
        <input 
            type="checkbox" 
            name="is_admin" 
            value="1"
            {% if user.is_admin == "1" %}
                checked
            {% endif %}
            >
            <p>Administrador</p>
    </div>
</div>
