@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
:root {
    --primary-color: #6558C3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: '- ';
    border: none;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #111111;
    margin: 0;
}

.content {
    height: 100%;
    width: 70%;
    margin: 30px auto 0 auto;
}

.admin {
    background-color: black;
}

.admin .header .menu a {
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 15px;
    color: #999999;
    text-align: left;
    background-color: transparent;
}

.admin .header .menu a.active {
    color: white;
}

.admin .header .logout button {
    font-family: Helvetica;
    padding: 0;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

header {
    border-bottom: 1px solid rgb(185, 185, 185);
}

header .header {
    margin: 36px auto 0 auto;
    padding-bottom: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header .menu {
    margin-left: 105px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 37px;
    align-items: center;
}

.header form {
    justify-self: right;
}

.header form button,
.header form input {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-radius: 4px;
    height: 37px;
    padding-left: 15px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #999999;
}

.button,
.menu form button {
    background: var(--primary-color);
    padding: 0 20px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #FFFFFF;
}

header img {
    cursor: pointer;
}

.menu div a {
    font-family: Roboto-Regular;
    font-size: 16px;
    margin: 0 16px;
    color: #000;
}

.menu div a.active {
    font-weight: bold;
}

footer {
    margin-top: auto;
    margin-bottom: 0;
    background: #EEEEEE;
    width: 100%;
    padding: 32px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #999999;
}


/*---------- banner ---------*/

.banner {
    background-color: #FBDFDB;
    height: 366px;
    border-radius: 20px;
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.banner .title-banner {
    margin: auto 100px;
    width: 316px;
}

.banner .title-banner h1 {
    font-family: Roboto-Bold;
    font-size: 32px;
}

.banner .title-banner p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

.banner img {
    height: 300px;
    margin: auto 150px 0px auto;
}

#title-acessed.title-admin {
    margin-top: 0;
}

#title-acessed {
    margin-bottom: 20px;
    margin-top: 50px;
}

#title h1,
#title-acessed h1 {
    margin-bottom: 20px;
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
}


/*---------- about  ---------*/

.history {
    margin-top: 50px;
}

.history h1 {
    margin-top: 30px;
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
}

.initial-title h1 {
    margin: 0;
}

.history p {
    margin-top: 20px;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


/*---------- recipe ---------*/

.recipe-banner img {
    width: 100%;
    height: 320px;
    border-radius: 20px;
    object-fit: cover;
}

.title-info {
    margin-top: 20px;
    text-align: center;
}

.title-info h1 {
    font-family: Roboto-Bold;
    font-size: 36px;
    color: #111111;
}

.title-info p {
    font-family: Roboto-Regular;
    font-size: 20px;
    color: #777777;
    margin-top: 4px;
}

.ingredientes {
    margin-top: 30px;
}

.ingredientes ul,
.modo-de-preparo ul,
.informacoes p#tohide_3 {
    margin-top: 20px;
}

.ingredientes ul li,
.modo-de-preparo ul li {
    margin-bottom: 5px;
}

#tohide_1,
#tohide_2,
#tohide_3 {
    visibility: visible;
    margin-bottom: 50px;
}

#tohide_1.hidden,
#tohide_2.hidden,
#tohide_3.hidden {
    visibility: hidden;
    margin-bottom: 0px;
    height: 0;
}

.title {
    align-items: center;
    display: flex;
}

.title h3 {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
}

.title p {
    margin-left: 8px;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    cursor: pointer;
}

.detail-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-admin #title-acessed,
.detail-admin #title-acessed h1 {
    margin-bottom: 0px;
}

.create a.button,
.detail-admin button {
    background: #6558C3 100%;
    width: 130px;
    border-color: transparent;
    border-radius: 4px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.detail-admin button:first-child.disabled {
    background-color: #777;
    cursor: inherit;
}

.detail-admin button:first-child {
    background: #DC4747 100%;
    margin-right: 10px;
}

.create a.button {
    padding: 6.5px 37px;
}

.detail-admin .create button {
    background: #6558C3 100%;
}


/*---- pagination -----*/

.container-pagination {
    display: grid;
    grid-template-rows: 1fr 16px;
    margin-bottom: 50px;
}

.container-pagination .pagination {
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
}


/*--------- chef-detail ---------*/

.chef-avatar {
    text-align: center;
}

.chef-avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.chef-avatar .title-info {
    margin-top: 30px;
}

.chef-avatar .title-info h1 {
    margin: 0px;
}

#chef-recipe {
    margin: 0px;
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    margin-top: 50px;
}


/*---------- more acessed cards ---------*/

.more-acessed-cards {
    max-width: 100%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
    margin-bottom: 50px;
}

.revenue-card.grid {
    cursor: pointer;
}

.img-card img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
}

.info-card {
    margin-top: 20px;
}

.info-card h1 {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #111111;
}

.info-card p {
    margin-top: 5px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #777777;
}


/*---------- área adm recipes----------*/

.admin-recipe {
    margin-top: 30px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.admin-recipe .revenue-card {
    display: grid;
    grid-template-columns: 172px 1fr;
}

.admin-recipe .img-card img {
    width: 172px;
    height: 80px;
    margin-top: 0px;
    border-radius: 10px;
}

.admin-recipe .info-card {
    margin-top: 0px;
    margin-left: 20px;
}

.admin-recipe .info-card h1 {
    line-height: 21px;
    margin: 0px;
}

.admin-recipe .info-card p {
    margin: 5px 0px 10px 0px;
    line-height: 16px;
}

.admin-recipe .info-card a {
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #6558C3;
    line-height: 16px;
}


/*---------- área adm recipes----------*/

.admin-chef {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.admin-chef .revenue-card {
    display: grid;
    grid-template-columns: 64px 1fr;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 5px;
}

.admin-chef .img-card {
    display: block;
    width: 64px;
    height: 64px;
    align-self: center;
}

.admin-chef .img-card img {
    width: 64px;
    height: 64px;
    margin-top: 0px;
    border-radius: 50%;
}

.admin-chef .info-card {
    margin-top: 0px;
    margin-left: 20px;
    display: block;
}

.admin-chef .info-card h1 {
    line-height: 21px;
    margin: 0px;
    margin-bottom: 10px;
}

.admin-chef .info-card a {
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #6558C3;
    line-height: 16px;
}


/*---------- fields ---------*/

.detail-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-admin button {
    background: var(--primary-color) 100%;
    padding: 6px 15px;
    border-color: transparent;
    border-radius: 4px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.item div:first-child {
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #111111;
    margin-top: 30px;
}

.item div:first-child h3 {
    margin: 0px;
}

.item div:nth-child(2) textarea,
.item .item-grid,
.item .input-layout {
    display: grid;
    width: 100%;
    height: 40px;
    margin: 10px 0px 15px 0px;
    padding-left: 20px;
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-radius: 4px;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #111111;
    align-items: center;
}

.item .input-layout select,
.item .input-layout input,
.item .item-grid input {
    outline: none;
    border: 0px;
    height: 80%;
}

.item-grid {
    display: grid;
    grid-template-columns: 1fr 30px;
    text-align: center;
    align-items: center;
}

.item .item-grid i {
    margin: 0 auto;
    cursor: pointer;
}

.item a {
    margin-top: 15px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: var(--primary-color);
    text-align: right;
    cursor: pointer;
}

.item div:nth-child(2) textarea {
    height: 260px;
    padding-top: 10px;
}

.item .input-layout select {
    margin-right: 20px;
    color: #999;
}

.item .input-layout select option:first-child {
    color: #999;
}

.item .input-layout select option {
    font-size: 16px;
    color: #111;
}

.item .input-layout {
    box-sizing: border-box;
}


/*---------- avatar chef ---------*/

.item .input-layout.avatar {
    display: none;
    vertical-align: middle;
}

.item #avatar-chef {
    margin-top: 10px;
    position: relative;
    display: block;
    overflow: hidden;
    width: 150px;
}

.item #avatar-chef p {
    padding: 8px 16px;
    font-size: 16px;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    border-radius: 4px;
}

.item #avatar-chef #avatar-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


/*---------- images recipes ---------*/

.item div#photos-container {
    display: flex;
    margin-top: 10px;
}

.item div.photos-recipe {
    margin-top: 0;
    min-height: 150px;
    min-width: 150px;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}

.item .photos-recipe #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.item .photos-recipe i {
    font-size: 200%;
    color: #777;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.item div#photos-container div#photos-recipe-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.item div#photos-container div#photos-recipe-preview .photo {
    max-width: 150px;
    min-width: 100px;
    height: 150px;
    margin-left: 10px;
    margin-top: 0;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.item div#photos-container div#photos-recipe-preview .photo img {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    object-fit: cover;
    border-radius: 4px;
}

.item div#photos-container div#photos-recipe-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    cursor: pointer;
    transition: opacity 100ms;
    opacity: 0;
}

.item div#photos-container div#photos-recipe-preview .photo:hover i {
    opacity: 1;
}


/*----- galery preview -----*/

.recipe-banner .gallery-preview {
    display: flex;
    margin-top: 8px;
    justify-content: flex-end;
}

.recipe-banner .gallery-preview img {
    border: 1px solid #DDDDDD;
    margin-top: 0;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    opacity: 0.6;
    cursor: pointer;
    transition: 100ms;
    border-radius: 4px;
}

.recipe-banner .gallery-preview img:hover,
.recipe-banner .gallery-preview img.active {
    opacity: 1;
}


/*---------- chefs detalhe general ----------*/

.admin-chef .revenue-card.general_chef {
    cursor: pointer;
}