.detail-admin.user .create button:nth-child(2) {
    background: #8A8A8A;
}

.detail-admin.user .create button:nth-child(2):hover {
    background-color: rgb(221, 56, 56);
    ;
}

.user-field-container .user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.user-field-container .item-admin {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.user-field-container .item-admin input {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
}

.user-field-container .item-admin p {
    font-weight: bold;
    font-size: 16px;
    color: #111111;
    margin-left: 8px;
}