{% extends "../../layout.njk" %} 

{% import "../../parts/header.njk" as header %}

{% block header%}
{{ header.header( "white-logo.png", {  
 'items': [
  {
     'name': 'RECEITAS',
     'path': '/admin/recipes'
  },
  {
     'name': 'CHEFS',
     'path': '/admin/chefs'
  },
  {
     'name': 'USUÁRIOS',
     'path': '/admin/users'
  }
]
} , false) }}

{% endblock %}
{% block content %}
    <div class="detail-admin user"> 
        <div id="title-acessed">
            <h1>Atualizar Usuário</h1>
        </div>
         <div>
            <button form="form-delete-user" type="submit">Deletar</button>
            <button form="form-put" type="submit">Salvar</button>
        </div>
        
    </div>
     <form id="form-put" action="/admin/users/{{user.id}}?_method=PUT" method="POST" >
            {%include 'area-adm/users/fields.njk'%}   
    </form>
    <form id="form-delete-user" action="/admin/users/{{user.id}}?_method=DELETE" method="POST" >
    </form>
       
{% endblock %}