{% extends "../../layout.njk" %} 

{% import "../../parts/header.njk" as header %}

{% block header%}
{{ header.header( "white-logo.png", {  
 'items': [
  {
     'name': 'RECEITAS',
     'path': '/admin/recipes'
  },
  {
     'name': 'CHEFS',
     'path': '/admin/chefs'
  },
  {
     'name': 'USUÁRIOS',
     'path': '/admin/users'
  }
]
} , false) }}

{% endblock %}
{% block content %}

<div class="detail-admin">
        <div id="title-acessed" class="title-admin">
            <h1>Usuários</h1>
        </div>
            <div class="create">
        <a class="button" href="/admin/users/create">Novo</a>
    </div>
</div>
<section class="more-acessed-cards admin-user">
    {% for user in users %}
        <div class="user-card">
            <h3>{{user.name}}</h3>
            <p>{{user.email}}</p>
            <div class="options">
                <a href="/admin/users/{{user.id}}/edit">Editar</a>
                <button type="submit" form="form-delete-user-{{user.id}}">Remover</button>
            </div>
        <form id="form-delete-user-{{user.id}}" action="/admin/users/{{user.id}}?_method=DELETE" method="POST"></form>
        </div>
    {% endfor %}
</section>

{% endblock %}