{% extends "../../layout.njk" %} 

{% import "../../parts/header.njk" as header %}

{% block header%}
{{ header.header( "white-logo.png", {  
 'items': [
  {
     'name': 'RECEITAS',
     'path': '/admin/recipes'
  },
  {
     'name': 'CHEFS',
     'path': '/admin/chefs'
  },
  {
     'name': 'USUÁRIOS',
     'path': '/admin/users'
  }
]
} , false) }}

{% endblock %}
{% block content %}
    <div class="detail-admin user"> 
        <div id="title-acessed">
            <h1>Criar Usuário</h1>
        </div>
        <div class="create">
            <button type="submit" form="create-user">Salvar</button>
            <a class="button" href="/admin/users">Cancelar</a>
        </div>
        
    </div>
    <form id="create-user" method="POST" action="/admin/users" >
       
  {%include 'area-adm/users/fields.njk'%}
{% endblock %}