{% extends "../../layout.njk" %} 

{% block header%}
        <a href="/admin/recipes">RECEITAS</a>
        <a href="/admin/chefs">CHEFS</a>
        <a href="/admin/users">USUÁRIOS</a>
{% endblock %}
{% block content %}
    <div class="detail-admin user"> 
        <div id="title-acessed">
            <h1>Criar Usuário</h1>
        </div>
        <div class="create">
            <button type="submit" form="create-user">Salvar</button>
            <a class="button" href="/admin/users">Cancelar</a>
        </div>
        
    </div>
    <form id="create-user" method="POST" action="/admin/users" >
       
  {%include 'area-adm/users/fields.njk'%}
{% endblock %}