<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <title>Foodfy</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="WMEZdW9GDm1Wo0iXxSkhrmveiKkeXiymPptxmUe7zg8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     {% include "parts/styles.njk" %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174272825-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-174272825-1');
    </script>

</head>

<body>

    {% block header%}
    {% endblock %}
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {%include 'parts/footer.njk'%}
</body>

</html>