{% extends "area-general/layout.njk" %} 
{% block head %}
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/section.css">
{% endblock%}
{% block content %}
        <div class="banner">
            <div class="title-banner">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <img src="../assets/chef.png" alt="Chef">
        </div>
        <div id="title-acessed">
            <h1>Mais acessadas</h1>
        </div>
        <section class="more-acessed-cards">
            {% for recipe in recipes %}
                <div class="revenue-card">
                    <div class="img-card">
                        <img src="{{recipe.image}}" alt="imagem de {{recipe.image}}">
                    </div>
                    <div class="info-card">
                        <h1>{{recipe.title}}</h1>
                        <p>{{recipe.author}}</p>
                    </div>

                </div>
            {% endfor %}
        </section>
{% endblock %}