<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <title>Foodfy</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="WMEZdW9GDm1Wo0iXxSkhrmveiKkeXiymPptxmUe7zg8" />
    <link rel="stylesheet" href="/header-footer.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174272825-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-174272825-1');
    </script>

</head>

<body>
    <div class="content">
        <header>
            <img src="/assets/logo.png" alt="Logo" onClick=return_index()>
                <div>
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="#">Administração</a>
                </div>
        </header>
        {% block content %}
        {% endblock %}
    </div>
     <div class="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>
    <script src="/script.js"></script>
</body>

</html>