{% macro list_recipes( path, recipes) %}

<section class="more-acessed-cards admin-recipe">
            {% for recipe in recipes %}
                <div class="revenue-card">
                    <div class="img-card">
                        <img src="{{recipe.image}}" alt="imagem de {{recipe.image}}">
                    </div>
                    <div class="info-card">
                        <h1>{{recipe.title}}</h1>
                        <p>por {{recipe.chef_name}}</p>
                        <a href="{{path}}/recipes/{{recipe.id}}">Visualizar</a>
                    </div>

                </div>
            {% endfor %}
        </section>


        {% endmacro %}