{% extends "../layout.njk" %} 
{% block head %}
<link rel="stylesheet" href="/recipe.css">
{% endblock %}
{% block content %}
    <div class="detail-admin"> 
        <div id="title-acessed">
            <h1>Editando receita</h1>
        </div>
        <div>
            <button>Deletar</button>
            <button>Salvar receita</button>
        </div>
    </div>
{%include 'area-adm/fields.njk'%}
{% endblock %}