<div  class="item">
    <div>
        <h3>Imagem da receita</h3>
    </div>
    <div>
        <input 
            required 
            type="url" 
            name="image" 
            placeholder="http://" 
            value="{{recipe.image}}">
    </div>
</div>
<div  class="item">
    <div>
        <h3>Nome da receita</h3>
    </div>
    <div>
        <input 
            required 
            type="text" 
            name="title" 
            value="{{recipe.title}}">
    </div>
</div>
<div  class="item">
    <div>
        <h3>Autor da receita</h3>
    </div>
    <div>
        <input 
            required 
            type="text" 
            name="author" 
            value="{{recipe.author}}">
    </div>
</div>
<div  class="item">
    <div>
        <h3>Ingredientes</h3>
    </div>
    <div>
        {%if recipe.ingredients%}
            {% for ingredient in recipe.ingredients %}
                <input 
                required 
                type="text" 
                name="ingredient[]"
                value="{{ingredient}}">
            {% endfor %}
        {% else %}
            <input 
                required 
                type="text" 
                name="ingredient[]">
        {% endif %}
    </div>    
    <a href="">Adicionar novo ingrediente</a>
</div>
<div  class="item">
    <div>
        <h3>Modo de preparo</h3>
    </div>
    <div>
        {% if recipe.preparation%}
            {% for preparation in recipe.preparation %}
                <input 
                    required 
                    type="text" 
                    name="preparation_mode[]"
                    value="{{preparation}}">
            {% endfor %}
        {% else %}
            <input 
                required 
                type="text" 
                name="preparation_mode[]">
        {% endif %}
    </div>     
    <a href="">Adicionar passo</a>
</div>
<div  class="item">
    <div>
        <h3>Informações adicionais</h3>
    </div>
    <div>
        <textarea 
            required 
            type="text" 
            name="add_information">
            {{recipe.information}}
            </textarea>
    </div>     
</div>