<div  class="item">
    <div>
        <h3>Imagem da receita</h3>
    </div>
    <div>
        <input 
            required 
            type="url" 
            name="image" 
            placeholder="http://" 
            value="{{recipe.image}}">
    </div>
</div>
<div  class="item">
    <div>
        <h3>Nome da receita</h3>
    </div>
    <div>
        <input 
            required 
            type="text" 
            name="title" 
            value="{{recipe.title}}">
    </div>
</div>
<div  class="item">
    <div>
        <h3>Autor da receita</h3>
    </div>
    <div>
        <input 
            required 
            type="text" 
            name="author" 
            value="{{recipe.author}}">
    </div>
</div>
<div  class="item">
    <div>
        <h3>Ingredientes</h3>
    </div>
    <div class="ingredient">
        {%if recipe.ingredients%}
            {% for ingredient in recipe.ingredients %}
                <div id="ingredient">
                    <input 
                        required 
                        type="text" 
                        name="ingredients[]"
                        value="{{ingredient}}">
                </div>
            {% endfor %}
        {% else %}
            <div id="ingredient">
                <input 
                    required 
                    type="text" 
                    name="ingredients[]">
            </div>
        {% endif %}
    </div>    
    <a class="add-ingredient">Adicionar novo ingrediente</a>
</div>
<div  class="item">
    <div>
        <h3>Modo de preparo</h3>
    </div>
    <div class="preparation">
        {% if recipe.preparation%}
            {% for preparation in recipe.preparation %}
                <div id="preparation">
                    <input 
                        required 
                        type="text" 
                        name="preparation[]"
                        value="{{preparation}}">
                </div>
            {% endfor %}
        {% else %}
            <div id="preparation">
                <input 
                    required 
                    type="text" 
                    name="preparation[]">
            </div>
        {% endif %}
    </div>     
    <a class="add-preparation" >Adicionar passo</a>
</div>
<div  class="item">
    <div>
        <h3>Informações adicionais</h3>
    </div>
    <div>
        <textarea 
            required 
            type="text" 
            name="information">
            {{recipe.information}}
            </textarea>
    </div>     
</div>